[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-database-url = "*"
django = ">=4.0"
pillow = "*"
psycopg2-binary = "*"
python-decouple = "*"
python-dotenv = "*"

[dev-packages]
black = "*"
coverage = "*"
docformatter = "*"
django-debug-toolbar = "*"
flake8 = "*"
isort = "*"
model-bakery = "*"
pre-commit = "*"

[requires]
python_version = "3.10"
